# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# IDE
/.idea
/.vscode
/.fleet
/.zed

# Laravel (root level if any)
/node_modules
/vendor
/public/storage
/storage/*.key
/bootstrap/cache

# Laravel inside backend folder
/backend/vendor
/backend/node_modules
/backend/.env
/backend/public/storage
/
